<section class="bg-portfolio" id="portfolio">

  <h2 style="text-align: center; font-weight: 500;padding: 15px;"><a h></a>Portfolio</h2>
  <div class="container">

    <div class="row align-items-center justify-content-center">

      <div class="col-sm-6 col-md-3 div-bloco">
        <i class='bx bx-sushi' style="font-size: 60px;"></i>
        <h4>Web Developer</h4>
        <p class="paragrafo-pf">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
      </div>

      <div class="col-sm-6 col-md-3 div-bloco">
        <i class='bx bx-sushi' style="font-size: 60px;"></i>
        <h4>Web Developer</h4>
        <p class="paragrafo-pf">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
      </div>

      <div class="col-sm-6 col-md-3 div-bloco">
        <i class='bx bx-sushi' style="font-size: 60px;"></i>
        <h4>Web Developer</h4>
        <p class="paragrafo-pf">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
      </div>

      <div class="col-sm-6 col-md-3 div-bloco">
        <i class='bx bx-sushi' style="font-size: 60px;"></i>
        <h4>Web Developer</h4>
        <p class="paragrafo-pf">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
      </div>

      <div class="col-sm-6 col-md-3 div-bloco">
        <i class='bx bx-sushi' style="font-size: 60px;"></i>
        <h4>Web Developer</h4>
        <p class="paragrafo-pf">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
      </div>

      <div class="col-sm-6 col-md-3 div-bloco">
        <i class='bx bx-sushi' style="font-size: 60px;"></i>
        <h4>Web Developer</h4>
        <p class="paragrafo-pf">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
      </div>
    </div>
  </div>
</section>
