<!-- Header menu start -->
<div class="bg-image">

<div class="container" id="home">

  <div class="row align-items-center">

    <div class="col-sm-4">
      <img src="../assets/imgs/logo-principal.svg" alt="Logo Ações Dev" width="120">
    </div>


    <div class="col-sm-4">
      <nav class="menu align-items-center">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#experiencia">Experiência</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
        </ul>
      </nav>
    </div>



    <div class="contato-btn col-sm-4">
      <button class="btn"><a href="#contato">
        Contato
      </a>
      </button>
    </div>


  </div>

  <app-destaque-topo></app-destaque-topo>

  <app-sobre></app-sobre>
</div>
</div>




  <app-experiencia></app-experiencia>

  <app-portfolio></app-portfolio>

  <app-contato></app-contato>

  <app-footer></app-footer>

  <router-outlet></router-outlet>
