<!-- Header menu start -->
<div class="bg-image">

  <nav class="fixed-top" style="background-color: #0B1029;">
    <div class="container" style="border: 1px solid green;">

      <div class="row align-items-center justify-content-between" style="margin: 5px;">

        <div class="col-sm-3">
          <img src="../assets/imgs/logo-principal.svg" alt="Logo Ações Dev" width="120">
        </div>

        <div class="button-menu col-sm-2">
          <i class='bx bx-menu'></i>
        </div>


        <div class="col-sm-4 menu align-items-center">
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#sobre">Sobre</a></li>
              <li><a href="#experiencia">Experiência</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
            </ul>

        </div>

        <div class="contato-btn col-sm-3">
          <button class="btn"><a href="#contato">
            Contato
          </a>
          </button>
        </div>

      </div>
    </div>

  </nav>


<div class="container" id="home">



  <app-destaque-topo></app-destaque-topo>

  <app-sobre></app-sobre>
</div>
</div>




  <app-experiencia></app-experiencia>

  <app-portfolio></app-portfolio>

  <app-contato></app-contato>

  <app-footer></app-footer>

  <router-outlet></router-outlet>
