.bg-experiencia{
  background: #3a2070
}

.div-bg-exp{
  background: #00000033;
  padding: 20px;
  margin-bottom: 2rem;
}

.bloco-expe{
  padding-top: 1%;
}

.periodo{
  color: #ffffff80;
  font-size: 14px;
  margin-bottom: 5px;
}

.titulo-exp{
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 5px;
  font-weight: 500;
}

.conteudo-exp{

  font-size: 14px;
  color: #ededed;
}

.titulo2-exp{
  color: #fffffff5;
    font-size: 13px;
}
