<div class="bg-experiencia">
<section class="bloco-expe container" id="experiencia">
  <h2 style="text-align: center; font-weight: 500;padding: 15px;">Experiência</h2>
  <div class="row justify-content-around">

    <div class="col-sm-5 div-bg-exp">

    <span class="periodo">Março 2022 - Present</span> <br>
    <p class="titulo-exp">Web Developer</p>
    <p class="conteudo-exp">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
    </p>
    <span class="titulo2-exp">Designer</span>

    </div>

    <div class="col-sm-5 div-bg-exp">

      <span class="periodo">Março 2022 - Present</span> <br>
      <p class="titulo-exp">Web Developer</p>
      <p class="conteudo-exp">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
      </p>
      <span class="titulo2-exp">Designer</span>

    </div>

    <div class="col-sm-5 div-bg-exp">

      <span class="periodo">Março 2022 - Present</span> <br>
      <p class="titulo-exp">Web Developer</p>
      <p class="conteudo-exp">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
      </p>
      <span class="titulo2-exp">Designer</span>

    </div>

    <div class="col-sm-5 div-bg-exp">

      <span class="periodo">Março 2022 - Present</span> <br>
      <p class="titulo-exp">Web Developer</p>
      <p class="conteudo-exp">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
      </p>
      <span class="titulo2-exp">Designer</span>

    </div>

    <div class="col-sm-5 div-bg-exp">

      <span class="periodo">Março 2022 - Present</span> <br>
      <p class="titulo-exp">Web Developer</p>
      <p class="conteudo-exp">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
      </p>
      <span class="titulo2-exp">Designer</span>

    </div>

    <div class="col-sm-5 div-bg-exp">

      <span class="periodo">Março 2022 - Present</span> <br>
      <p class="titulo-exp">Web Developer</p>
      <p class="conteudo-exp">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
      </p>
      <span class="titulo2-exp">Designer</span>

    </div>


  </div>

</section>
</div>
