/* You can add global styles to this file, and also import other style files */

*{
  color: white;
  font-family: 'Poppins';
}

body{
  background: #4E2F8F !important;
}

a{
  text-decoration: none;
  color: white;
}
